.login_form{
    width: 50rem;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin: 3.5rem auto; 
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 1.5rem;
    overflow: hidden;
    border: 0.5px solid rgb(215, 215, 215);
}

.logo_slider{
    width: 55%;
    height: 100%;
    background-color: #cd1f30;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_form>form{
    width: 45%;
    padding: 1rem 1.5rem;
}

.login_form>form>h1{
    font-size: 2.3rem;
    font-weight: bolder;
    text-align: center;
}

body{
    background-color: #f7fafc;
}

.logo_title{
    display: flex;
    /* justify-content: center; */
    text-align: left;
    gap: 0.7rem;
    color: #efb300;
    font-size: 2.5rem;
    font-weight: 900;
    width: 17rem;
}

#logo_container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#logo_container img {
    width: 2.5rem; /* Set the desired width */
    height: auto; /* Automatically adjusts the height to maintain the aspect ratio */
    max-width: 100%; /* Prevents the image from exceeding the container's width */
    max-height: 100%; /* Prevents the image from exceeding the container's height */
}

#login_btn:hover {
    background-color: #c70e20d2;
}

#login_btn{
    display: block;
}

.cinema_icon{
    width: 17rem;
    height: auto;
}

.logo_slider>p{
    text-align: center;
    padding: 1.5rem;
    color: #efb300;
}